# Java / Spring Boot
*.class
*.log
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
target/
.mvn/wrapper/maven-wrapper.jar
#backend/uploads

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Environment / secrets
.env
*.env.local

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS
.DS_Store
Thumbs.db
